a:link{
    color: azure;
    text-decoration: none;
  
}

body{
    
    font-family: 'Bubblegum Sans', cursive;
}

/* button a:link{
    color:#2f4858;
   } */

button a:link{
    display: block;
    color:#204c4c;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
    
}

button a:hover:not(.active) {
    background-color: #ffe285;
    font-weight: bold;
    color:#204c4c;
    transition-duration: 0.4s;
   
}
button a:visited {
    background-color: #ffe285;
    font-weight: bold;
    color:#204c4c;
    transition-duration: 0.4s;
   
}


footer {
    
    padding: 10px;
    background-color: #204c4c;
    border-radius: 2%;
    color: azure;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}


footer h3{
    margin: 0px;
}

form h2{
    margin: 13px 0px;
    /* margin-bottom: 15px; */
    padding: 5px;
    background-color:#ff9d00;
    text-align: center;
    color: #204c4c;
    border-top: none;
}

h1{
    font-size: 45px;
    margin-top: 10px;
    /* margin-left: 175px; */
    color:#204c4c;
    /* justify-content: center; */
    /* align-content: center; */
}



h2{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25px;
    /* justify-content: center; */
}



header{
    background:  #ff9d00;
    /* background-image: url(imag/paticas.png); */
    align-items: center;
    padding: 0px;
    /* border-radius: ; */
    
}




img{
    
    margin: 15px;
}


input:invalid:required {
    border: 2px solid #ff9d00;
}
  
input:valid {
    border: 2px solid lightgreen;
}

li {
    float:left;
       
}

li a{
    display: block;
    color: azure;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    /* pointer-events: none; */

}

li a:hover:not(.active) {
    background-color:  #ff9d00;
    color:#2f4858;
     
}




ul {list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color:#8abc40;
    display:flex;
    justify-content: center;
    
    
    /* border-radius: 10%; */
}

.banner{
    width: 80%;
    display:flex;
    justify-content: center;
}

.flex-container {
    /* grid-template-columns: 60% 40%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    text-align: center;
}

.myart{
    margin: 7px 3px 7px 3px;
    background-color: #ffe285;
    padding: 13px;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: flex-end;
    border-radius: 4%;

}

.myborder{
    border-radius: 4%;
}

.mydiv{
    
    text-align: justify;
    width: 65%;
    
}

.mydivbutton{

    display:flex;
    
}

.myform{
    width: 60%;
    background-color:#8abc40 ;
    display: grid;
    align-content: center;
    align-items: center;
    /* margin: 10px 5px; */
    color: black;
    border-radius: 4%;

}

.myimg{
    margin: auto;
}

.myindex{
    width: 15%;
    padding: 0px; 
    margin: 15px 35px 15px auto;
    border-style:none;
    
}

.mylabel{
    margin: 10px 25px;
    display: flex;
    flex-direction: row;
    align-content:center;
}

.mylabel2{
    margin: 10px 25px;
    display: grid;
    grid-template-columns: 30% 70%;
    


}

.mynormalinput{
    margin-right:0px;
    align-items: flex-end;
    
}

.mysection{
    margin: 7px 3px 7px 3px;
    background-color: #ffe285;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.mysmallinput{
    width: 15%;
   
}

.myval{
    
    width: 20%;
    padding: 5px;
    margin: 15px auto;
    border-style:none;
    border-radius: 12px;
    transition-duration: 0,4s;
    font-weight: bold;
    color:#2f4858;
}

.myval:hover{
    background-color: #ffe285;
    color:black;

}

.principal{
    display:flex;
    justify-content: center;
}
