<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Cita</title>
    <link rel="icon" type="" href="../views/imag/telefono.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./resources/styles/index.css">
</head>
<body class="principal">

    <div class="mydiv">
        
                
        <header class="flex-container">
            
            <div class="banner">
                <h1><a href="../index.html">CENTRO DE REGISTRO TELEFONIA</a></h1>
                
            </div>
                        
        </header>
        
        <nav>

            <ul>
                <li>
                    <a href="./pag/construction.html">Servicios</a>    
                    
                </li>
                <li>
                    <a href="./pag/construction.html">Productos</a>    

                </li>
                
                <li>
                    <a href="./pag/construction.html">Promociones</a>  

                </li>

                <button class="myreg">
                    <a href="../index.html"> INICIO </a>
                </button>

                
            </ul>
            
            

        </nav>
                     
        <main>

                
            <section class="mysection">
                

                <article class="mytable">
                    
                    <div class="asignationTitle">
                        <h2>Asignación citas</h2>

                    </div>
                    <table onload="consultarRegistro();">
                        <thead>
                            <th class="">
                                Nombre
                            </th>
                            
                            <th>
                                Apellido
                            </th>
                            
                            <th>
                                Usuario
                            </th>
                            
                            <th>
                                Cedula
                            </th>
                            
                            <th>
                                Fecha_Cita
                            </th>
                            
                            <th>
                                Motivo 
                            </th>
                            
                            <th>
                                Usuario
                            </th>
                            
                            <th>
                                Cedula
                            </th>
                            
                            <th>
                                Fecha_Cita
                            </th>
                            
                            <th>
                                Motivo 
                            </th>
                            
                        </thead>    
                        <tbody>
                            <td class="">
                                
                            </td>
                            <td class="">

                            </td>
                            <td class="">

                            </td>
                            <td class="">
                                
                            </td>
                            <td class="">

                            </td>
                            <td class="">

                            </td>
                            <td class="">
                                
                            </td>
                            <td class="">

                            </td>
                            <td class="">

                            </td>
                            <td class="">
                                
                            </td>
                         
                        </tbody>

                    </table>

                </article>
                
                
                <article class="consultaInfo">

                    <form  method= "get" action="" class="myform" id="register" onsubmit="consultarRegistro(); return false;"> 
            
                        <h2>Consulta</h2>    
                        
                        
                        <label class="mylabel2" for="name">Nombre:
                             
                            <input maxlength="28" autofocus="true" class="mynormalinput" type="text"  id="name" name="name" pattern="[A-Z]{2,28}" title="Utiliza mayúsculas" required> 
                        </label>
                          
                        <label class="mylabel2" for="cedula">Cédula:
                            
                            <input class="mynormalinput" type="cedula"  id="cedula" name="cedula" required> 
                        </label>

                        <div class="mydivbutton">        
                                                
                            <button class="myval" type="reset"> LIMPIAR
                            </button>
    
                            <button style="background-color: #ff9d00;" class="myval" id="myval" type="submit"> BUSCAR
                            </button>
                        </div>                    
                    </form>

                </article>
                <!-- cambiar el formulario por una tabla con los atributos usuario y solicitud -->
                
            </section>
        </main>
        <footer>

            <p>Contáctanos <br> 
            Linea gratuita 018000-00001 <br>
                
            creditos:<a href="https://www.flaticon.es/iconos-gratis/llamada" title="llamada iconos">Llamada iconos creados por Gregor Cresnar - Flaticon</a>
            
            </p>
            <h3>
            Página elaborada por: <br>
                Edward James Walther Junior Pérez Rayo <br>
                
            </h3>
            
       
        </footer>
        <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
        <script defer src="../models/conexion_db.js"></script>
        <script src="../controllers/mostrar_datos.js"></script>
    </div>

</body>
</html>