<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caninos y Felinos</title>
    <link rel="icon" type="veterinaria" href="../imag/veterinario.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/construction.css">
</head>

<body class="principal">

    <div class="mydiv">
        
                
            <header class="grid-container">
                
                    <div>
                        <h2>CENTRO VETERINARIO</h2>
                        <h1>Caninos y <br><span style="margin-left: 90px;"> Felinos </span></h1>
                    </div> 
                    <div>
                        <a src="../index.html">
                
                            <img width="100px" src="../imag/gatico1.png" alt="perritos y gatitos">
                            <img width="100px" src="../imag/perrito1.png" alt="perritos y gatitos">
                        </a>
                    </div>
                
            </header>
        
            <nav>

                <ul>
                    <li>
                        <a href="">Servicios</a>    
                        
                    </li>
                    <li>
                        <a href="">Productos</a>    

                    </li>
                    <li>
                        <a href="">Guarderia</a>    

                    </li>
                    <li>
                        <a href="">Promociones</a>  

                    </li>

                    <button class="myindex"> <a href="../index.html"> INICIO
                        </a>
                    </button>
                    
                </ul>
                
            </nav>
                     
        <main>
    
            <section class="mysection">
                <!-- inmtroducir imagen de espacio en constructión y modificar los estilo del menu y añadir una botón de incio -->
                <img class="myimg" alt="construction" src="../imag/Construccion.png">


            </section>
        </main>
        <footer>

            <p>Contáctanos <br> 
            Linea gratuita 018000-00001 <br>
            creditos:<a href="https://www.flaticon.es/iconos-gratis/veterinario" title="veterinario iconos">Veterinario iconos creados por Freepik - Flaticon</a>
           
            </p>
            <h3>
            Página elaborada por: <br>
                Edward James Walther Junior Pérez Rayo <br>
                
            </h3>
            
        </footer>
</body>
</html>