<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caninos y Felinos</title>
    <link rel="icon" type="veterinaria" href="../imag/veterinario.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/registerForm.css">
</head>

<body class="principal">

    <div class="mydiv">
        
                
            <header class="grid-container">
                
                <div>
                    <h2>CENTRO  </h2>
                    <h1> DE REGISTRO <br><span style="margin-left: 90px;"> TELEFONIA </span></h1>
                </div> 
                <div>
                    <a href="/index.html">
                        
                        <!-- cambiar a imagenes realcionadas con servicios telefónicos -->
                        <!-- <img width="100px" src="imag/gatico1.png" alt="perritos y gatitos">
                        <img width="100px" src="imag/perrito1.png" alt="perritos y gatitos"> -->
                    </a>
                </div>
                
            </header>
        
            <nav>

                <ul>
                    <li>
                        <a href="./pag/construction.html">Servicios</a>    
                        
                    </li>
                    <li>
                        <a href="./pag/construction.html">Productos</a>    

                    </li>
                    <li>
                        <!-- <a href="./pag/construction.html">Guarderia</a>     -->

                    </li>
                    <li>
                        <a href="./pag/construction.html">Promociones</a>  

                    </li>

                    <button class="myreg">
                        <a href="./pag/registerForm.html"> REGISTRATE </a>
                    </button>

                    
                </ul>
                
               

            </nav>
                     
        <main>
    
            <section class="mysection">
                
                <!-- cambiar el formulario por una tabla con los atributos usuario y solicitud -->
                
            </section>
        </main>
        <footer>

            <p>Contáctanos <br> 
            Linea gratuita 018000-00001 <br>
            creditos:<a href="https://www.flaticon.es/iconos-gratis/veterinario" title="veterinario iconos">Veterinario iconos creados por Freepik - Flaticon</a>
           
            </p>
            <h3>
            Página elaborada por: <br>
                Edward James Walther Junior Pérez Rayo <br>
                
            </h3>
            
       
        </footer>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
        <script src="../js/conector3.js"></script>

</body>
</html>